In [15]:
import random
import pandas as pd
import pickle
import re

In [16]:
random.randint(0,100)

21

In [17]:
local_num = ['02','051','053','032', '062','042','052','044','031','033','043','041','063','061','054','055','064','070']
print(random.choice(local_num) + ' ' + str(random.randint(100,10000)) + ' ' + str(random.randint(1000,10000)))

043 3050 4905

In [18]:
print('010' + ' ' + str(random.randint(1,10000)).zfill(4) + ' ' + str(random.randint(1,10000)).zfill(4))

010 4837 9056

In [19]:
email = ['@gmail.com','@outlook.kr', '@outlook.com', '@hotmail.com', '@icloud.com', '@mac.com', '@me.com', '@naver.com', '@hanmail.net',
        '@daum.net', '@nate.com', '@kakao.com', '@citizen.seoul.kr', '@yahoo.co.jp', '@yahoo.com', '@yandex.com', '@yandex.ru']
def account():
    id = ''
    n = random.randint(5,21)
    i = 0
    cand = list('abcdefghizklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_-.')
    while i!=n:
        id+=random.choice(cand)
        i+=1
    return id
print(account() + random.choice(email))

q1nG9rt3Kl50H@hanmail.net

In [20]:
name = pd.read_excel('이름_2008-2019.xlsx')

C:\Users\liait\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\liait\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [21]:
name.describe()

,음절,M 출생,M 개명,F 출생,F 개명,남성적 : 여성적,동명이인,6327237
count,64020.000000,37054.000000,17055.000000,27254.000000,16215.000000,64019.000000,64020.000000,6.402000e+04
mean,2.994767,71.991607,22.203987,92.588171,46.720506,-0.067240,98.832193,1.559422e-05
std,1.379838,705.796857,121.299273,893.392475,308.116125,0.466252,1015.214494,1.598911e-04
min,1.000000,1.000000,1.000000,1.000000,0.000000,-0.500000,0.000000,0.000000e+00
25%,2.000000,1.000000,1.000000,1.000000,1.000000,-0.500000,1.000000,1.580468e-07
50%,2.000000,1.000000,2.000000,1.000000,2.000000,-0.396296,1.000000,1.580468e-07
75%,4.000000,5.000000,6.000000,3.000000,6.000000,0.500000,4.000000,6.321871e-07
max,17.000000,37006.000000,4200.000000,34446.000000,9183.000000,0.500000,45618.000000,7.158173e-03

In [22]:
name = name[name[6327237]>=0.0000005]

In [23]:
first_name_list = name['이름'].tolist()

In [24]:
f = open("first_name_list.pickle","wb")
pickle.dump(first_name_list,f)
f.close()

In [25]:
last_name = pd.read_excel('한국 성씨.xlsx', header = None)
last_name_en = pd.read_excel('성씨.xlsx', header = None)

In [26]:
last_name

       0       1
0      1    김(金)
1      2    이(李)
2      3    박(朴)
3      4    최(崔)
4      5    정(鄭)
..   ...     ...
515  498    한(恨)
516  498    호(湖)
517  498    황(煌)
518  498    황(簧)
519  498  황목(荒木)

[520 rows x 2 columns]

In [27]:
last_name_en

      0          1
0   NaN         Ka
1   NaN        Kan
2   NaN        Kal
3   NaN        Kam
4   NaN       Kang
..   ..        ...
938 NaN      Houng
939 NaN      Hohng
940 NaN      Hawng
941 NaN   Howangbo
942 NaN        Huu

[943 rows x 2 columns]

In [28]:
last_name_list = last_name[1].map(lambda x: re.match('[가-힣]+',x).group(0)).to_list()
last_name_list_en = last_name_en[1].to_list()

In [29]:
f = open("last_name_list_en.pickle","wb")
pickle.dump(last_name_list_en,f)
f.close()

In [30]:
f = open("last_name_list.pickle","wb")
pickle.dump(last_name_list,f)
f.close()
f = open("last_name_list_en.pickle","wb")
pickle.dump(last_name_list_en,f)
f.close()

In [31]:
print(random.choice(last_name_list) + random.choice(first_name_list))

시휘재

In [32]:
position_list = ['명예회장','회장','부회장','사장','부사장','전무이사','상무이사','이사','부장','차장','과장','계장','대리','주임','사원','인턴','CEO','CAO','CCO',
           'CFO','CIO','CKO','COO','CPO','CRO','CSO','CTO','GM','CM','General Maneger', 'Country Manager', '수석 연구원', '책임 연구원', '전임 연구원',
           '선임 연구원', '주임 연구원', '연구원', '프로', 'PRO','원장','매니저']

In [33]:
f = open("position_list.pickle","wb")
pickle.dump(position_list,f)
f.close()

In [34]:
with open("first_name_list.pickle","rb") as f:
    first_name_list = pickle.load(f)
with open("last_name_list.pickle","rb") as f:
    last_name_list = pickle.load(f)
with open("position_list.pickle","rb") as f:
    position_list = pickle.load(f)

In [35]:
print('TEL:', random.choice(local_num) + ' ' + str(random.randint(100,10000)) + ' ' + str(random.randint(1000,10000)))
print('핸드폰:','010' + ' ' + str(random.randint(1,10000)).zfill(4) + ' ' + str(random.randint(1,10000)).zfill(4))
print('이메일:', account() + random.choice(email))
print('이름:', random.choice(last_name_list) + random.choice(first_name_list))
print('직책:',random.choice(position_list))

TEL: 053 8735 3292
핸드폰: 010 5701 5467
이메일: Qzv1eLqD.WkNb@hanmail.net
이름: 안신헌
직책: 사원