In [1]:
import random
import pandas as pd
import pickle
import re

In [3]:
random.randint(0,100)

43

In [2]:
local_num = ['02','051','053','032', '062','042','052','044','031','033','043','041','063','061','054','055','064','070']
print(random.choice(local_num) + ' ' + str(random.randint(100,10000)) + ' ' + str(random.randint(1000,10000)))

032 4290 7577

In [32]:
print('010' + ' ' + str(random.randint(1,10000)).zfill(4) + ' ' + str(random.randint(1,10000)).zfill(4))

010 9173 7658

In [3]:
email = ['@gmail.com','@outlook.kr', '@outlook.com', '@hotmail.com', '@icloud.com', '@mac.com', '@me.com', '@naver.com', '@hanmail.net',
        '@daum.net', '@nate.com', '@kakao.com', '@citizen.seoul.kr', '@yahoo.co.jp', '@yahoo.com', '@yandex.com', '@yandex.ru']
def account():
    id = ''
    n = random.randint(5,21)
    i = 0
    cand = list('abcdefghizklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_-.')
    while i!=n:
        id+=random.choice(cand)
        i+=1
    return id
print(account() + random.choice(email))

.eaJ8fURT.K5@nate.com

In [268]:
name = pd.read_excel('이름_2008-2019.xlsx')

/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [270]:
name.describe()

,음절,M 출생,M 개명,F 출생,F 개명,남성적 : 여성적,동명이인,6327237
count,64020.000000,37054.000000,17055.000000,27254.000000,16215.000000,64019.000000,64020.000000,6.402000e+04
mean,2.994767,71.991607,22.203987,92.588171,46.720506,-0.067240,98.832193,1.559422e-05
std,1.379838,705.796857,121.299273,893.392475,308.116125,0.466252,1015.214494,1.598911e-04
min,1.000000,1.000000,1.000000,1.000000,0.000000,-0.500000,0.000000,0.000000e+00
25%,2.000000,1.000000,1.000000,1.000000,1.000000,-0.500000,1.000000,1.580468e-07
50%,2.000000,1.000000,2.000000,1.000000,2.000000,-0.396296,1.000000,1.580468e-07
75%,4.000000,5.000000,6.000000,3.000000,6.000000,0.500000,4.000000,6.321871e-07
max,17.000000,37006.000000,4200.000000,34446.000000,9183.000000,0.500000,45618.000000,7.158173e-03

In [282]:
name = name[name[6327237]>=0.0000005]

In [283]:
first_name_list = name['이름'].tolist()

In [285]:
f = open("first_name_list.pickle","wb")
pickle.dump(first_name_list,f)
f.close()

In [87]:
last_name = pd.read_excel('한국 성씨.xlsx', header = None)

In [97]:
last_name_list = last_name[1].map(lambda x: re.match('[가-힣]+',x).group(0)).to_list()

In [98]:
f = open("last_name_list.pickle","wb")
pickle.dump(last_name_list,f)
f.close()

In [327]:
print(random.choice(last_name_list) + random.choice(first_name_list))

사호룡

In [329]:
position_list = ['명예회장','회장','부회장','사장','부사장','전무이사','상무이사','이사','부장','차장','과장','계장','대리','주임','사원','인턴','CEO','CAO','CCO',
           'CFO','CIO','CKO','COO','CPO','CRO','CSO','CTO','GM','CM','General Maneger', 'Country Manager', '수석 연구원', '책임 연구원', '전임 연구원',
           '선임 연구원', '주임 연구원', '연구원', '프로', 'PRO','원장']

In [330]:
f = open("position_list.pickle","wb")
pickle.dump(position_list,f)
f.close()

In [4]:
with open("first_name_list.pickle","rb") as f:
    first_name_list = pickle.load(f)
with open("last_name_list.pickle","rb") as f:
    last_name_list = pickle.load(f)
with open("position_list.pickle","rb") as f:
    position_list = pickle.load(f)

In [10]:
print('TEL:', random.choice(local_num) + ' ' + str(random.randint(100,10000)) + ' ' + str(random.randint(1000,10000)))
print('핸드폰:','010' + ' ' + str(random.randint(1,10000)).zfill(4) + ' ' + str(random.randint(1,10000)).zfill(4))
print('이메일:', account() + random.choice(email))
print('이름:', random.choice(last_name_list) + random.choice(first_name_list))
print('직책:',random.choice(position_list))

TEL: 042 5101 7330
핸드폰: 010 0555 2642
이메일: NhYMCWI@hanmail.net
이름: 선우희남
직책: CPO